<div class="overall">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">      
    <div class="loginWrapper p-5 rounded">
              <h4 class="mb-4 text-center text-uppercase">RESET</h4>
              <div class="inputBox mb-4">
                  <label for="fname">Email</label>
                  <input type="text"  name="fname" class="form-control" formControlName="email" id="fname">
              </div>  
              <div class="inputBox mb-4">
                  <input type="submit" class="btn btn-default btn-block" value="Reset password">
              </div>
              <p class="text-center"> Back to login?<a routerLink="/login">Click here !</a></p>
          </div>
        </form>
</div>