
<a  class="float" (click)="addUser()" *ngIf="user.role === 'admin'">
    <i class="fa fa-plus my-float"></i>
    </a>
<div class="overall" #customLoadingTemplate>
    <div class="row w-100 d-flex justify-content-center align-items-center text-white" style="position: absolute; top: 20px; z-index:2; margin-left: 0px;">
        <div class="col"><i class="fa fa-chevron-left" aria-hidden="true" (click)="routeBack()"></i></div>
        <div class="col text-center">
            <h2 class="m-0">Students</h2>
        </div>
        <div class="col"></div>
    </div>
	<div class="wrapper">
		<div class="card">
			<div class="questionCard px-3">
				<input type="search" name="" id="" placeholder="Search students" [(ngModel)]="searchText">
			</div>
            <div class="no-tem mt-3" *ngIf="Users.length === 0 && !loading">
                <div class="content">
                  <img src="../assets/Saly-19.png" width="250">
                  <p>No Students found.
                  </p>
                </div>
            </div>
            <div *ngIf="Users.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col text-center">email</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of Users | filter:searchText" (click)="onListItemClick(user.id)">
                            <td style="color: black; cursor: pointer;">{{user.data.displayName}}
                            </td>
                            <td style="color: black; cursor: pointer;">{{user.data.email}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>

	</div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>