
<div class="overall">
    <div class="row w-100 d-flex justify-content-center align-items-center text-white" style="position: absolute; top: 20px; z-index:2; margin-left: 0px;">
        <div class="col"><i class="fa fa-chevron-left" aria-hidden="true" (click)="routeBack()"></i></div>
        <div class="col text-center">
            <h2 class="m-0">MIS</h2>
        </div>
        <div class="col"></div>
    </div>
	<div class="wrapper">
		<div class="card">
			<div class="questionCard px-3">
				<input type="search" name="" id="" placeholder="Search MIS">
			</div>
            <div class="no-tem mt-3">
                <div class="content">
                  <img src="../assets/Saly-19.png" width="250">
                  <p>No MIS found. Any updates we will intimate you.
                  </p>
                </div>
              </div>
			<!-- <div class="px-lg-4 px-sm-2 px-md-2 container-fluid question">
				<div class="card-list">
					<div class="row">
						<div class="col avatar-wrapper"></div>
						<div class="col">
							<h3 class="m-0">hello 1</h3>
						</div>
					</div>
				</div>
				<div class="card-list">
					<div class="row">
						<div class="col avatar-wrapper"></div>
						<div class="col">hello 1</div>
					</div>
				</div>
				<div class="card-list">
					<div class="row">
						<div class="col avatar-wrapper"></div>
						<div class="col">hello 1</div>
					</div>
				</div>
			</div> -->
		</div>

	</div>
</div>