.overall {
    width: 100vw;
    height: 100vh;  
    margin: 0 auto; 
   overflow-x: hidden;
    background: linear-gradient(
      163.43deg,
      #eeecff -8.91%,
      #ffffff 99.17%
    ) !important;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .question {
    margin-top: 10px;
  }
  
  .card {
    width: 100%;
    height: 150px;
    background: linear-gradient(242.68deg, #feb665 37.28%, #f66eb4 76.65%);
    position: absolute;
    top: 0;
  }
  
  .questionCard {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 8px 1px gray;
    -moz-box-shadow: 0px 4px 8px 1px gray;
    box-shadow: 0px 4px 8px 1px gray;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 123px;
    padding: 10px;
  }
  
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}
img{
    margin-left: 15px;
}
p{
    font-size: large;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}
  .avatar-wrapper {
    height: 100px;
    width: 100px;
  
    overflow: hidden;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 200px;
  }
  .card-list {
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    width: 100%;
    text-align: center;
    line-height: 100px;
    margin: 0.4rem 0rem;
    padding: 0.4rem;
    cursor: pointer;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  }
  