<a  class="float1" (click)="editTemplate()" *ngIf="user.role === 'admin' || user.role === 'a-hod'">
    <i class="fa fa-pencil-square my-float"></i>
    </a>
	<a  class="float"  (click)="addTemplate()" *ngIf="user.role === 'admin' || user.role === 'a-hod'">
		<i class="fa fa-plus my-float"></i>
		</a>
<div class="overall" #customLoadingTemplate>
    <div class="row w-100 d-flex justify-content-center align-items-center text-white" style="position: absolute; top: 20px; z-index:2; margin-left: 0px;">
        <div class="col"><i class="fa fa-chevron-left" aria-hidden="true" (click)="routeBack()"></i></div>
        <div class="col text-center">
            <h2 class="m-0">Templates</h2>
        </div>
        <div class="col"></div>
    </div>
	<div class="wrapper">
		<div class="card">
			<div class="questionCard px-3">
				<input type="search" [(ngModel)]="searchText" placeholder="Search templates">
			</div>
            <div class="no-tem mt-3" *ngIf="templates.length === 0 && !loading">
                <div class="content">
                  <img src="../assets/Saly-19.png" width="250">
                  <p>No templates found.
                  </p>
                </div>
              </div>
              <div *ngIf ="user.role === 'admin' || user.role === 'a-hod'"> 
			<div class="px-lg-4 px-sm-2 px-md-2 container-fluid question" *ngFor="let template of templates | filter:searchText">
				<div class="card-list" (click)="previewTemplate(template)">
					<div class="row">
						<div class="col">
							<h4 class="m-0 p-3" style="font-size: large;">{{template.name}}</h4>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div *ngIf ="user.role === 'principal' || user.role === 'hod'"> 
            <label *ngIf="waitingTemplates.length > 0" class="mt-3">Waiting for Approval</label>
			<div class="px-lg-4 px-sm-2 px-md-2 container-fluid question" *ngFor="let template of waitingTemplates | filter:searchText">
				<div class="card-list" (click)="previewTemplate(template)">
					<div class="row">
						<div class="col">
							<h4 class="m-0 p-3" style="font-size: large;">{{template.name}}</h4>
						</div>
					</div>
				</div>
			</div>
        </div>
        <hr>
        <div *ngIf ="user.role === 'principal' || user.role === 'hod'"> 
            <label *ngIf="approvedTemplates.length > 0" class="mt-3">Approved</label>
			<div class="px-lg-4 px-sm-2 px-md-2 container-fluid question" *ngFor="let template of approvedTemplates | filter:searchText">
				<div class="card-list" (click)="previewTemplate(template)">
					<div class="row">
						<div class="col">
							<h4 class="m-0 p-3" style="font-size: large;">{{template.name}}</h4>
						</div>
					</div>
				</div>
			</div>
        </div>
		</div>
	</div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>